html,
body {
  overflow-x: hidden;
}
body {
  width: 100%;
  touch-action: pan-y;
}

.ArButton {
  text-align: center;
}

.ArBox model-viewer {
  width: 100%;
  height: 100%;
  background-color: #f0f5f5;
  --poster-color: #ffffff00;
}

.ArButton model-viewer {
  display: inline-block;
  contain: size;
  height: inherit;
}

.ArCard model-viewer {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f0f5f5;
  --poster-color: #ffffff00;
  touch-action: none;
}

.ArButton .myB {
  display: flex;
}
